@model AccServerAdmin.Service.Areas.Configuration.Pages.Servers.EditEntryModel


<div id="driverSelector" tabindex="-1" role="dialog" aria-labelledby="driverSelectLabel" aria-hidden="true" class="modal fade text-left">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <strong id="driverSelectLabel" class="modal-title">Driver Selector</strong>
                <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                
                <div class="form-group">
                    <div class="table-responsive">
                        <table id="driverSelectTable" style="width: 100%;" class="table table-striped table-sm">
                            <thead>
                            <tr>
                                <th>Driver</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var driver in Model.Drivers)
                            {
                                <tr>
                                    <td>
                                        <a asp-page-handler="SelectDriver" 
                                           asp-route-serverId="@Model.ServerId" 
                                           asp-route-entryListId="@Model.EntryListId"
                                           asp-route-entryId="@Model.Entry.Id" 
                                           asp-route-driverId="@driver.Id"
                                           alt="Select @driver.Fullname">@driver.Fullname</a>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>