@model AccServerAdmin.Service.Areas.Configuration.Pages.Servers.EditServerModel


@foreach (var session in Model.Server.EventConfiguration.Sessions.OrderBy(s => s.SessionType))
{
    <div class="card-header d-flex align-items-center">
        @if (@session.SessionType == "P")
        {
            <h4>Practice</h4>
        }
        else if (@session.SessionType == "Q")
        {
            <h4>Qualification</h4>
        }
        else
        {
            <h4>Race</h4>
        }
    </div>

    <input type="hidden" asp-for="@session.Id"/>

    <p>
        <!--
        <div class="form-group row">
            <label asp-for="Server.EventConfiguration.EventType" class="col-sm-2 form-control-label">Session Day</label>
            <div class="col-sm-10">
                <select asp-for="@session.DayOfWeekend" asp-items="Model.SessionDays" class="form-control">
                    <option value="">Select an session day</option>
                </select>
            </div>
        </div>
        -->
        <div class="form-group row">
            <label class="col-sm-2 form-control-label">Session Day</label>
            <div class="col-sm-10">
                <input asp-for="@session.DayOfWeekend" type="number" class="form-control">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 form-control-label">Hour Of Day</label>
            <div class="col-sm-10">
                <input asp-for="@session.HourOfDay" type="number" class="form-control">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 form-control-label">Time multiplier</label>
            <div class="col-sm-10">
                <input asp-for="@session.TimeMultiplier" type="number" class="form-control">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 form-control-label">Duration (Minutes)</label>
            <div class="col-sm-10">
                <input asp-for="@session.SessionDurationMinutes" type="number" class="form-control">
            </div>
        </div>
    </p>
}