@using AccServerAdmin.Domain
@using AccServerAdmin.Infrastructure.Helpers
@model AccServerAdmin.Domain.Results.Session

<table id="leaderboardTable" class="table table-striped table-sm table-hover" style="width: 100%;">
    <thead>
        <tr>
            <th>CarId</th>
            <th>Position</th>
            <th>Driver</th>
            <th>Car</th>
            <th>Laps</th>
            <th>Total Time</th>
            <th>Gap</th>
            <th>Fastest Lap</th>
        </tr>
    </thead>
    <tbody>

    @{
        var leaders = Model.LeaderBoard.OrderByDescending(l => l.LapCount).ThenBy(l => l.TotalTime);
        var i = 0;
        var  winnerTime = 0;
        var winnerLaps = 0;
        var gap = "";
        var bestlap = Model.LeaderBoard.Min(l => l.BestLap);

        foreach (var leader in leaders)
        {
            i++;

            if (winnerLaps == 0)
            {
                winnerLaps = leader.LapCount;
                winnerTime = leader.TotalTime;
            }

            if (leader.LapCount < winnerLaps)
            {
                gap = $"+{winnerLaps - leader.LapCount} Lap(s)";
            }
            else
            {
                var gapDiff = leader.TotalTime - winnerTime;
                gap = gapDiff == 0 ? "" : TimeSpan.FromMilliseconds(gapDiff).ToGapFormat();
            }

            <tr>
                <th scope="row">@i</th>
                <td>@leader.Car.Id</td>
                <td><partial name="_DriverPartial" model="@leader" /></td>
                <td>@ListData.Cars[leader.Car.CarModel]</td>
                <td>@leader.LapCount</td>
                <td>@(leader.TotalTime == int.MaxValue ? "" : TimeSpan.FromMilliseconds(leader.TotalTime).ToString("g"))</td>
                <td>@gap</td>

                <td>
                    <div class="@(leader.BestLap == bestlap ? "text-success" : "")">
                        @TimeSpan.FromMilliseconds(leader.BestLap).ToString(@"mm\:ss\.FFF")
                    </div>
                </td>
            </tr>
        }
    }
    </tbody>
</table>