@page
@using AccServerAdmin.Domain
@model IndexModel
@{
    ViewData["Title"] = "Results Home";
}

<div class="page-header">
    <div class="container-fluid">
        <h2 class="h5 no-margin-bottom">Results Home</h2>
    </div>
</div>

@section Scripts
{
    <script src="@Url.Content("/vendor/datatables.net/js/jquery.dataTables.js")"></script>
    <script src="@Url.Content("/vendor/datatables.net-bs4/js/dataTables.bootstrap4.js")"></script>
    <script src="@Url.Content("/vendor/datatables.net-responsive/js/dataTables.responsive.min.js")"></script>
    <script src="@Url.Content("/vendor/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js")"></script>
    <script src="@Url.Content("/js/sessionlist-datatable.js")"></script>
}

<section class="no-padding-top no-padding-bottom">
    <div class="container-fluid">
        <div class="block">
            <div class="block-body">
                <div class="row">
                    <div class="table-responsive">
                        <table id="sessionTable" class="table table-striped table-sm table-hover" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>Server</th>
                                    <th>SessionId</th>
                                    <th>Track</th>
                                    <th>Session Type</th>
                                    <th>Wet</th>
                                    <th>Timestamp</th>
                                    @if(User.Identity.IsAuthenticated)
                                    {
                                        <th>Admin</th>    
                                    }
                                </tr>
                            </thead>
                            <tbody>

                            @foreach (var session in Model.Sessions)
                            {
                                <tr>
                                    <th scope="row">@session.ServerName</th>
                                    <td>@session.Id</td>
                                    <td>@ListData.Tracks[session.Track]</td>
                                    <td>@session.SessionType</td>
                                    <td>@(session.IsWet ? "Yes" : "No")</td>
                                    <td>@session.SessionTimestamp.ToString("yyyy-M-d HH:mm")</td>
                                    @if(User.Identity.IsAuthenticated)
                                    {
                                        <td>Delete(todo)</td>
                                    }
                                </tr>
                            }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
