@model AccServerAdmin.Domain.DashItem

<div class="col-lg-4">
    <div class="card data-usage">
        <h2 class="display h4">@Model.Server.Name</h2>
        <div class="row d-flex align-items-center">
            <div class="col-sm-6">
                <strong class="text-primary">@Model.Server.EventCfg.Track</strong>
            </div>
            <div class="col-sm-6">
                <strong class="text-primary">80.56 Gb</strong>
            <!--
            <small>PID: @Model.ProcessInfo?.ProcessInfo?.Id</small>
            <span>Started: @Model.ProcessInfo?.ProcessInfo?.StartTime</span>
            -->

                @if (Model.ProcessInfo is null)
                {
                    <button type="button" class="btn btn-primary">Start</button>
                }
                else
                {
                    <button type="button" class="btn btn-primary">Stop</button>
                }
            </div>
        </div>
        @if (Model.ProcessInfo != null)
        {
            <p>Running since @Model.ProcessInfo.ProcessInfo.StartTime PID: @Model.ProcessInfo.ProcessInfo.Id</p>
        }
    </div>
</div>