@model AccServerAdmin.Domain.DashItem

<div class="col-lg-4">
    <div class="card data-usage">
        <h2 class="display h4">@Model.Server.Name - <a asp-area="Configuration" asp-page="/Servers/Edit" asp-route-id="@Model.Server.Id" asp>Edit</a></h2>
        <div class="row d-flex align-items-center">
            <div class="col-sm-6">
                <strong class="text-primary">@Model.Server.EventCfg.Track</strong>
            </div>
            <div class="col-sm-6">
                <form method="post">
                    <strong class="text-primary">80.56 Gb</strong>
                    <!--
                    <small>PID: @Model.ProcessInfo?.ProcessInfo?.Id</small>
                    <span>Started: @Model.ProcessInfo?.ProcessInfo?.StartTime</span>
                    -->

                    @if (Model.ProcessInfo is null)
                    {
                        <button type="submit" asp-route-serverId="@Model.Server.Id" asp-page-handler="StartServer">Start</button>
                    }
                    else
                    {
                        <button type="submit" asp-route-serverId="@Model.Server.Id" asp-page-handler="StopServer">Stop</button>
                    }
                </form>
            </div>
        </div>
        @if (Model.ProcessInfo != null)
        {
            <p>Running since @Model.ProcessInfo.ProcessInfo.StartTime - PID: @Model.ProcessInfo.ProcessInfo.Id</p>
        }
    </div>
</div>