@page
@using AccServerAdmin.Domain
@model AccServerAdmin.Service.Areas.Configuration.Pages.Drivers.DriverListModel

@{
    ViewData["Title"] = "Driver list";
}

@section Scripts
{
    <script src="@Url.Content("/vendor/datatables.net/js/jquery.dataTables.js")"></script>
    <script src="@Url.Content("/vendor/datatables.net-bs4/js/dataTables.bootstrap4.js")"></script>
    <script src="@Url.Content("/vendor/datatables.net-responsive/js/dataTables.responsive.min.js")"></script>
    <script src="@Url.Content("/vendor/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js")"></script>
    <script src="@Url.Content("/js/driverlist-datatable.js")"></script>
}

<div class="page-header">
    <div class="container-fluid">
        <h2 class="h5 no-margin-bottom">Drivers - <a asp-area="Configuration" asp-page="/Drivers/Edit" asp>Create new driver</a></h2>
    </div>
</div>

<section class="no-padding-top no-padding-bottom">
    <div class="container-fluid">
        <div class="block">
            <div class="block-body">
                <div class="row">
                    <div class="table-responsive">
                        <table id="driverTable" class="table table-striped table-sm" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>Driver Name</th>
                                    <th>SteamId</th>
                                    <th >Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            @foreach (var driver in Model.Drivers)
                            {
                                <tr>
                                    <th scope="row">@driver.Fullname</th>
                                    <td>@driver.PlayerId</td>
                                    <td>
                                        <a asp-area="Configuration" asp-page="/Drivers/Edit" asp-route-Id="@driver.Id">Edit</a>
                                        &nbsp;
                                        @if (driver.Id != ListData.AnonymousDriverId)
                                        {
                                            <a asp-area="Configuration" asp-page="/Drivers/Delete" asp-route-Id="@driver.Id">Delete</a>
                                        }
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>